{% extends 'templt_for_pages.html' %}

{% block title %} Препараты {% endblock %}
{% block content %}

<style>
    .table-scrollbar{
    position: relative;
    height: 550px;
    overflow: auto;
  }

    .page-content {
        width: calc(100% - 17rem);
        margin-left: 17rem;
        transition: all 0.4s;
    }
</style>

<div class="page-content p-5" id="content">
    <h2 class="display-4 text-white">Препараты</h2>
    <div class="separator"></div>
    <div class="search-form bg-white p-5 rounded my-5 shadow-sm">
        <!-- Форма данных  о препаратах -->
        <form role="form" action="{{ url_for('drugs') }}" method="POST">
            <!-- flash сообщения -->
                {% for message in get_flashed_messages(with_categories=True) %}
                    <div id="#alert" class="alert alert-{{message[0]}} alert-dismissible w-50 fade show" role="alert">
                        <p>{{ message[1] }}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
				{% endfor %}
            <!-- end -->
            <div class="row mb-3">
                <div class="container-fluid">
                    <div class="col">
                        <a href="{{ url_for('add_drug') }}" class="btn btn-primary shadow-sm">Добавить препарат</a> <hr>
                        <input type="text" class="form-control mb-4" id="drugSearch" name="drugSearch"
                          placeholder="Поиск">
                        <div class="table-scrollbar">
                            <table id="drugsData" class="table table-bordered table-hover table-fixed">
                                <thead class="thead text-white text-uppercase">
                                    <tr>
                                        <th></th>
                                        <th>Ингредиент</th>
                                        <th>Название</th>
                                        <th>Страна</th>
                                        <th>Производитель</th>
                                        <th>Категория</th>
                                        <th>Цена</th>
                                        <th>Статус</th>
                                    </tr>
                                </thead>

                                <tbody id="tableData">
                                    {% for druginfo in drugs %}
                                    <tr>
                                        <td>
                                            <a href="{{ url_for('edit_drug', drugID = druginfo['id']) }}" class="btn btn-outline-info shadow-sm">Изменить</a>
                                                <br><br>
                                            <a href="{{ url_for('delete_drug', drugID = druginfo['id']) }}" class="btn btn-outline-danger shadow-sm">Удалить</a>
                                        </td>
                                        <td>{{ druginfo['ingridient'] }}</td>
                                        <td>{{ druginfo['drug_title'] }}</td>
                                        <td>{{ druginfo['country'] }}</td>
                                        <td>{{ druginfo['manufacturer'] }}</td>
                                        <td>{{ druginfo['Drug_category'] }}</td>
                                        <td>{{ druginfo['price'] }}</td>
                                        {% if druginfo['status_id'] == 1 %}
                                            <td>В наличии</td>
                                        {% else %}
                                            <td>Нет в наличии</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end -->
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function() {
            $('.selectpicker').selectpicker();
    });
    </script>

    <script>
        $(document).ready(function(){

            $("#drugSearch").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#tableData tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
