{% extends 'templt_for_pages.html' %}

{% block title %} Выписать рецепт {% endblock %}

{% block content %}
<style>
    ul#selectDrugList {
        width: 600px;
        height: 520px;
        overflow-y: auto;
        overflow-x: hidden;
        list-style: none;
        padding: 0;
        border: 1px solid #CCC;
    }

    #selectDrugList li label {
        display: block;
        border-bottom: 1px solid #DDD;
        padding: 4px 4px 4px 26px;
        color: #000;
        outline: none;
        position: relative;
    }

    #selectDrugList li label:hover {
        color: #000;
        background-color: #EEE;
    }

    #selectDrugList li label.selected {
        color: #FFF;
        background-color: #CCC;
    }

    #selectDrugList li label .checkbox {
        position: absolute;
        top: 2px;
        left: 2px;
    }

    .calc {
    transform: scale(1.75);
    }

    legend {
    background-color: #add8e6;
    color: #fff;
    padding: 3px 6px;
    }

    .page-content {
        width: calc(100% - 17rem);
        margin-left: 17rem;
        transition: all 0.4s;
    }




</style>


<!--Форма Выписать рецепт-->
<div class="page-content p-5" id="content">
    <h2 class="display-4 text-white">Выписать рецепт</h2>
    <div class="separator"></div>
    <div class="row">
        <div class="container w-75">
            <div class="bg-white rounded-sm shadow-sm p-5">
                    <!-- flash сообщения -->
                        {% for message in get_flashed_messages(with_categories=True) %}
                            <div id="#alert" class="alert alert-{{ message[0] }} alert-dismissible w-50 fade show" role="alert">
                                <p>{{ message[1] }}</p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
						{% endfor %}
                    <!-- end -->
                    <form role="form" action="{{ url_for('add_recipe', pat_id = patient['id']) }}" method="POST">
                        <div class="form-group">
                            <dl class="row">
                                <dt class="col-sm-3">ФИО пациента</dt>
                                <dd class="col-sm-9">{{ patient['fio'] }}</dd>
                            </dl>
                        </div>

                        <div class="form-group">
                            <label for="diagnos">Диагноз</label>
                            <div class="data-select"></div>
                            <select name="diagnoslist" id="diagnos"
                            class="selectpicker show-tick" data-width="auto form-control">
                                {% for diagnos in diagnosList %}
                                    <option value="{{ diagnos['id'] }}">{{ diagnos['diagnos'] }}</option>
                                {% endfor %}
                            </select>
                        </div> <hr>
                        <div class="form-group">
                            <label for="recCat">Категория рецепта</label>
                            <div class="data-select">
                                <select name="recCatlist" id="recCat" onChange="Selected(this)"
                                    class="selectpicker show-tick" data-width="auto">
                                    <option selected disabled>Выберите</option>
                                    {% for cat in recCat %}
                                        <option value="{{ cat['rec_id'] }}">{{ cat['rec_cat'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div> <hr>

                    <!--Наборы-->
                        <!--Набор хирургия малая-->
                        <div id="NaborHM" class="form-group" style="display: none;">
                            <label for="druglist">Набор</label>
                            <div class="data-select">
                                <input class="calc" name="selectDrugList" type="checkbox"
                                    value="359" id="checkdrug">
                                      НАБОР: Малый хирургический
                                <input type="hidden" name="title8" value="3500">
                            </div>
                        </div>
                        <!--Набор Нормальные роды-->
                        <div id="NaborNR" class="form-group" style="display: none;">
                            <label for="druglist">Набор</label>
                            <div class="data-select">
                                <input class="calc" name="selectDrugList" type="checkbox"
                                    value="80" id="checkdrug">
                                      НАБОР: Нормальные роды
                                <input type="hidden" name="title8" value="5240">
                            </div>
                        </div>
                        <!-- Набор кес.сечение-->
                        <div id="NaborKS" class="form-group" style="display: none;">
                            <label for="druglist">Набор</label>
                            <div class="data-select">
                                <input class="calc" name="selectDrugList" type="checkbox"
                                    value="315" id="checkdrug">
                                      НАБОР: Кесарево сечение
                                <input type="hidden" name="title8" value="8860">
                            </div>
                        </div>
                        <!--Набор хирургия большая-->
                        <div id="NaborHB" class="form-group" style="display: none;">
                            <label for="druglist">Набор</label>
                            <div class="data-select">
                                <input class="calc" name="selectDrugList" type="checkbox"
                                    value="285" id="checkdrug">
                                      НАБОР: Взрослый хирургический
                                <input type="hidden" name="title8" value="11000">
                            </div>
                        </div>
                        <!--Набор хирургия детская-->
                        <div id="NaborHD" class="form-group" style="display: none;">
                            <label for="druglist">Набор</label>
                            <div class="data-select">
                                <input class="calc" name="selectDrugList" type="checkbox"
                                    value="250" id="checkdrug">
                                      НАБОР: Детский хирургический
                                <input type="hidden" name="title8" value="11000">
                            </div>
                        </div>
                    <!--end-->

                    <!--Препараты-->

                        <div id="drugs1" class="form-group" style="display: none;">
                            <label for="druglist">Препараты</label>
                            <ul id="selectDrugList">
                                <fieldset>
                                    <legend>Анальгетики, Жаропонижающие, Противовоспалительные средства</legend>

                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 1 %}
                                            <ul>
                                                <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                                <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                    value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                        {{drug['drugname']}}/ {{drug['ingridient']}}<br> {{drug['country']}} <br><br>
                                                        {{drug['price']}} руб.
                                                <input type="hidden" name="title8" value="{{drug['price']}}"><br><br>
                                            </ul>
                                        <hr>
                                    {% endif %}
                                    {% endfor %}

                                </fieldset>
                                <fieldset>
                                    <legend>Противоаллергические средства</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 2 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">

                                        </ul><hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                    <fieldset>
                                        <legend>Бронхолитики/ANTI-TUSSIVE</legend>
                                        {% for drug in selectDrugList %}
                                            {% if drug['drCatid'] == 3 %}
                                            <ul>
                                                <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                                <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                    value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                        {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                                <input type="hidden" name="title8" value="{{drug['price']}}">
                                            </ul><hr>
                                        {% endif %}
                                        {% endfor %}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Препараты для лечения дыхательных путей</legend>
                                        {% for drug in selectDrugList %}
                                            {% if drug['drCatid'] == 4 %}
                                            <ul>
                                                <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                                <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                    value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                        {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                                <input type="hidden" name="title8" value="{{drug['price']}}">
                                            </ul><hr>
                                        {% endif %}
                                        {% endfor %}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Антибактериальные средства</legend>
                                        {% for drug in selectDrugList %}
                                            {% if drug['drCatid'] == 5 %}
                                            <ul class="check">
                                                <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                                <input class="calc" name="selectDrugList" id="selectAB" type="checkbox"
                                                    value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                        {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                                <input type="hidden" name="title8" value="{{drug['price']}}">
                                            </ul><hr>
                                        {% endif %}
                                        {% endfor %}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Противовирусные препараты</legend>
                                        {% for drug in selectDrugList %}
                                            {% if drug['drCatid'] == 6 %}
                                            <ul>
                                                <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                                <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                    value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                        {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                                <input type="hidden" name="title8" value="{{drug['price']}}">
                                            </ul><hr>
                                        {% endif %}
                                        {% endfor %}
                                    </fieldset>
                                <fieldset>
                                    <legend>Противопротозойные и противомикробные препараты</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 7 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul><hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Препараты ЖКТ</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 8 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul><hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Растворы электролиты</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 9 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul><hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Противоязвенные препараты</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 10 %}
                                        <ul class="collapse">
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul><hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Лекарства для содействия моторике кишечника</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 11 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul><hr>
                                    {% endif %}
                                    {% endfor %}
                                </fielset>
                                <fieldset>
                                    <legend>Противоглистные препараты</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 12 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Противогрибковые препараты</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 13 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul><hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Антиагреганты</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 14 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul><hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                               <fieldset>
                                    <legend>Противоанемические</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 15 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Противогеморройные средства</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 16 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Гормоны и контрацептивы</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 17 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Дерматологические средства</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 18 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Витамины и минералы</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 19 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Анальгетики</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 25 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Бронхоспазмолитики</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 26 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Гепатопротекторы</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 27 %}
                                        <ul class="collapse">
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Противосудорожные препараты</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 28 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Ангиопротекторы</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 29 %}
                                        <ul class="collapse">
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Противоотечные средства</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 30 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Противодиабетические препараты</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 31 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Лекарственные средства, воздействующие на ЖКТ</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 32 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Препараты для оказания помощи детям в исключительных случаях</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 33 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Препараты для оказания помощи детям в исключительных случаях</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 34 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Лекарственные средства, воздействующие на желудочно-кишечный тракт</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 35 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Витамины и минералы</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 36 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Противовирусные препараты</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 37 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                                <fieldset>
                                    <legend>Антисептические средства</legend>
                                    {% for drug in selectDrugList %}
                                        {% if drug['drCatid'] == 38 %}
                                        <ul>
                                            <!--<label class="h6 text-muted">{{drug['Drug_category']}}</label>-->
                                            <input class="calc" name="selectDrugList" id="selectdrug" type="checkbox"
                                                value="{{drug['drug_id']}}" id="checkdrug"><br>
                                                    {{drug['drugname']}}/ {{drug['ingridient']}}<br>{{drug['price']}} руб. <br> {{drug['country']}}
                                            <input type="hidden" name="title8" value="{{drug['price']}}">
                                        </ul> <hr>
                                    {% endif %}
                                    {% endfor %}
                                </fieldset>
                            </ul>
                        </div>

                    <!--end-->
                        Сумма: <input type="text" name="price" id="price" readonly> руб. <br><br>
                        <div class="form-group">
                            <input type="submit" value="Выписать рецепт" class="btn btn-primary">
                            <!--<input type="submit" value="Отмена" class="btn btn-primary">-->
                        </div>
                    </form>
                </div>
                <!-- end -->
        </div>
    </div>
</div>
<!--end-->


<script>
    $(document).ready(function () {
    // make sure labels are drawn in the correct state
        $('label').each(function () {
            if ($(this).find(':checkbox').attr('checked')) $(this).addClass('selected');
        });

        // toggle label css when checkbox is clicked
        $(':checkbox').click(function (e) {
            var checked = $(this).attr('checked');
            $(this).closest('label').toggleClass('selected', checked);
        });
    });
</script>


<script>
    function Selected(recCat) {
        var rec = recCat.value;
        var price = $('#price').value;
        if (rec == 10) {
            document.getElementById("NaborHM").style.display='block';
            document.getElementById("NaborNR").style.display='none';
            document.getElementById("NaborKS").style.display='none';
            document.getElementById("NaborHB").style.display='none';
            document.getElementById("NaborHD").style.display='none';
            document.getElementById("drugs1").style.display='none';
        }
        else if (rec == 3) {
            document.getElementById("NaborNR").style.display='block';
            document.getElementById("NaborHM").style.display='none';
            document.getElementById("NaborKS").style.display='none';
            document.getElementById("NaborHB").style.display='none';
            document.getElementById("NaborHD").style.display='none';
            document.getElementById("drugs1").style.display='none';
        }
        else if (rec == 4) {
            document.getElementById("NaborKS").style.display='block';
            document.getElementById("NaborNR").style.display='none';
            document.getElementById("NaborHM").style.display='none';
            document.getElementById("NaborHB").style.display='none';
            document.getElementById("NaborHD").style.display='none';
            document.getElementById("drugs1").style.display='none';
        }
        else if (rec == 5) {
            document.getElementById("NaborHB").style.display='block';
            document.getElementById("NaborKS").style.display='none';
            document.getElementById("NaborNR").style.display='none';
            document.getElementById("NaborHM").style.display='none';
            document.getElementById("NaborHD").style.display='none';
            document.getElementById("drugs1").style.display='none';
        }
        else if (rec == 7) {
            document.getElementById("NaborHD").style.display='block';
            document.getElementById("NaborNR").style.display='none';
            document.getElementById("NaborHM").style.display='none';
            document.getElementById("NaborHB").style.display='none';
            document.getElementById("NaborKS").style.display='none';
            document.getElementById("drugs1").style.display='none';
        }
        else {
            document.getElementById("drugs1").style.display='block';
            document.getElementById("NaborNR").style.display='none';
            document.getElementById("NaborHM").style.display='none';
            document.getElementById("NaborHB").style.display='none';
            document.getElementById("NaborKS").style.display='none';
            document.getElementById("NaborHD").style.display='none';

        }
    }
</script>



<!--Автоматический счетчик цены при выборе препаратов-->
<!--Фиксирует сумму в текстовом поле id=price-->
<script>
    function calcscore(){
        var score = 0;

        var checked=$(".calc:checked ~   input[type=hidden]").each(function(){
        score+=parseInt($(this).val());
        });

        $('#price').val(score.toFixed(0));

        if ($('#price').val() == 0) {
             $(':input[type="submit"]').prop('disabled', true);
        }

        if($("#recCat option:selected").val() == 6 && $('#price').val() > 1500) {
            $.confirm({
                icon: 'fa fa-exclamation',
                theme: 'modern',
                animation: 'scale',
                type: 'red',
                title: 'Превышен лимит',
                content: 'Превышен лимит в 1500 рублей на ребенка',
                buttons: {
                    ОК: function () {
                        $(':input[type="submit"]').prop('disabled', true);
                    }

                }

            });
        }

        else if( $("#recCat option:selected").val() == 1 && $('#price').val() > 1850) {
            $.confirm({
                icon: 'fa fa-exclamation',
                theme: 'modern',
                animation: 'scale',
                type: 'red',
                title: 'Превышен лимит',
                content: 'Превышен лимит в 1850 рублей на беременных.',
                buttons: {
                    ОК: function () {
                        $(':input[type="submit"]').prop('disabled', true);
                    }

                }

            });
        }

        else if($("#recCat option:selected").val() == 2 && $('#price').val() > 1850) {
            $.confirm({
                icon: 'fa fa-exclamation',
                theme: 'modern',
                animation: 'scale',
                type: 'red',
                title: 'Превышен лимит',
                content: 'Превышен лимит в 1850 рублей на кормящих.',
                buttons: {
                    ОК: function () {
                        $(':input[type="submit"]').prop('disabled', true);
                    }

                }

            });
        }

        else {
            $(':input[type="submit"]').prop('disabled', false);
        }


    }

        $(document).ready(function(){
            $(".calc").change(function(){
                calcscore()
            });
        });
</script>
<!--end-->



<script>
    $('.check input:checkbox').change(function(){
        if (this.checked) {
            $.confirm({
                icon: 'fa fa-exclamation-triangle',
                theme: 'modern',
                animation: 'scale',
                type: 'red',
                title: 'Антибактериальные средства',
                content: 'Вы уверены в целесообразности назначения?',
                buttons: {
                    Да: function () {
                        $('.check input:checkbox'). prop('disabled', false);
                    },
                    Нет: function () {
                        $('.check input:checkbox'). prop('checked', false);
                        $('.check input:checkbox'). prop('disabled', true);

                    }
                }

            });
        }
    })
</script>


<script>
    $(document).ready(function() {
        $('.selectpicker').selectpicker();
    });
</script>



{% endblock %}
