{% extends 'templt_for_pages.html' %}

{% block title %} Рецепт {% endblock %}
{% block header %} Данные о рецепте {% endblock %}

{% block content %}

<style>
    .page-content {
        width: calc(100% - 17rem);
        margin-left: 17rem;
        transition: all 0.4s;
    }
</style>

<div class="page-content p-5" id="content">
    <h2 class="display-4 text-white">Данные о рецепте</h2>
    <div class="separator"></div>
    <div class="row">
        <div class="col-9 mx-auto">
            <div class="bg-white rounded-lg shadow-sm p-5">
                <form role="form" action="{{ url_for('recipe_info', recID = recipeinfo['id']) }}" method="POST">
                    <!--flash-message-->
                            {% for message in get_flashed_messages(with_categories=True) %}
                                <div id="#alert" class="alert alert-{{message[0]}} alert-dismissible w-50 fade show" role="alert">
                                    <p>{{ message[1] }}</p>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
							{% endfor %}
						<!--end-->
                   <h6 class="text-info font-weight-bolder">Данные о выписанном рецепте</h6> <hr>
                        <dl class="row">
                            <dt class="col-sm-3">ФИО пациента: </dt>
                            <dd class="col-sm-9">{{recipeinfo['pat_sname']}} {{recipeinfo['pat_fname']}} {{recipeinfo['pat_patr']}}</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-3">Посещение: </dt>
                            <dd class="col-sm-9">{{ recipeinfo['visit'] }}</dd>
                        </dl>
                        {% if recipeinfo['rec_cat_id'] in [1, 2, 6, 11, 12, 15, 18, 19] %}
                            <dl class="row">
                                <dt class="col-sm-3">Баланс пациента: </dt>
                                <dd class="col-sm-9">{{ recipeinfo['balance'] }} руб.</dd>
                            </dl>
                        {% endif %}
                        <dl class="row">
                            <dt class="col-sm-3">Диагноз</dt>
                            <dd class="col-sm-9">{{ recipeinfo['diagnos'] }}</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-3">Категория</dt>
                            <dd class="col-sm-9">{{recipeinfo['rec_category']}}</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-3">Дата рождения:</dt>
                            <dd class="col-sm-9">{{recipeinfo['pat_datebirth']}}</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-3">Номер телефона:</dt>
                            <dd class="col-sm-9">{{recipeinfo['pat_phone']}}</dd>
                        </dl>
                        <dl class="row">
                            {% if recipeinfo['passport'] == None and recipeinfo['inn'] == None  and recipeinfo['parentinn'] == None %}
                                <dt class="col-sm-3">Идентификационные данные отсутствуют. </dt
                                <dd class="col-sm-9"><a href="{{ url_for('add_identific_data', pat_id=recipeinfo['pacient_id']) }}" class="btn btn-outline-primary shadow-sm">Добавить идентификационные данные</a></dd>
                                {% elif recipeinfo['passport'] == '' and recipeinfo['inn'] == ''  and recipeinfo['parentinn'] == '' %}
                                    <dd class="col-sm-9"><a href="{{ url_for('add_identific_data', pat_id=recipeinfo['pacient_id']) }}" class="btn btn-outline-primary shadow-sm form-control">Добавить идентификационные данные</a></dd>
                                {% else %}
                                    {% if recipeinfo['PlaceActualResidence'] != None %}
                                        <dt class="col-sm-3">Адрес: </dt>
                                        <dd class="col-sm-9">{{ recipeinfo['PlaceActualResidence'] }}</dd>
                                    {% else %}
                                        <dt class="col-sm-3">Адрес: </dt>
                                        <dd class="col-sm-9"> Адресные данные не указаны.</dd>
                                    {% endif %}

                                    {% if recipeinfo['inn'] != None %}
                                        <dt class="col-sm-3">ИНН: </dt>
                                        <dd class="col-sm-9">{{ recipeinfo['inn'] }}</dd>
                                    {% endif %}

                                    {% if recipeinfo['passport'] != None %}
                                        <dt class="col-sm-3">Паспорт: </dt>
                                        <dd class="col-sm-9">{{ recipeinfo['passport'] }}</dd>
                                    {% endif %}

                                    {% if recipeinfo['parentinn'] != None  %}
                                        <dt class="col-sm-3">ИНН родителя: </dt>
                                        <dd class="col-sm-9">{{ recipeinfo['parentinn'] }}</dd>
                                    {% else %}
                                        <br>
                                    {% endif %}
                            {% endif %}
                        </dl> <hr>
                        <dl class="row">
                            <dt class="col-sm-3">Врач: </dt>
                            <dd class="col-sm-9">{{ recipeinfo['doctor_sname'] }} {{ recipeinfo['doctor_fname'] }} {{ recipeinfo['doctor_patr'] }}</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-3">Должность врача: </dt>
                            <dd class="col-sm-9">{{ recipeinfo['doctor_post']}}</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-3">Город: </dt>
                            <dd class="col-sm-9">{{ recipeinfo['city'] }}</dd>
                        </dl>
                        <hr>
                        {% if pharminfo['status_id'] == 2 %}
                        <dl class="row">
                            <dt class="col-sm-3">Дата выдачи рецепта: </dt>
                            <dd class="col-sm-9">{{ pharminfo['endDate'] }}</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-3">Фармацевт: </dt>
                            <dd class="col-sm-9">{{ pharminfo['sName'] }} {{ pharminfo['fName'] }} {{ pharminfo['patr'] }}</dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-3">Город: </dt>
                            <dd class="col-sm-9">{{ pharminfo['city'] }}</dd>
                        </dl> <hr>
                        {% else %}
                        <dl class="row">
                            <dt class="col-sm-3">Фармацевт: </dt>
                            <dd class="col-sm-9">Рецепт ещё не выдан фармацевтом.</dd>
                        </dl> <hr>
                        {% endif %}

                        <h6 class="text-info font-weight-bolder">Назначенные препараты</h6>
                            <label for="recdrugs">Препараты: </dt>
                            <ul>
                                {% for drug in recDrugs %}
                                    {% if  drug['drug_id'] in [77, 78, 80] %}
                                    <li> Набор: Нормальные роды 5240 руб.</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <ul>
                                {% for drug in recDrugs %}
                                    {% if drug['drug_id'] == 315 %}
                                        <li>Набор кесарево сечение 8860 руб.</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <ul>
                                {% for drug in recDrugs %}
                                    {% if drug['drug_id'] == 285 %}
                                        <li>Набор взрослый хирургический 11000 руб.</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <ul>
                                {% for drug in recDrugs %}
                                    {% if drug['drug_id'] == 359 %}
                                        <li>Набор малый хирургический 3500 руб.</li>
                                    {% endif %}
                                 {% endfor %}
                            </ul>
                            <ul>
                                {% for drug in recDrugs %}
                                    {% if drug['drug_id'] == 250 %}
                                        <li>Набор детский хирургический 11000 руб.</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <ul>
                                {% for drug in recDrugs %}
                                {% if drug['drug_id'] not in  [78, 77, 80, 285, 250, 315, 359] %}
                                    <li>
                                        {{drug['drug_name']}}<br>{{ drug['ingridient']}}<br> {{ drug['country'] }}<br> {{ drug['manufacturer'] }}<br> {{ drug['drug_price'] }} руб. <br>
                                        {% if drug['count'] != None %}
                                        Назначено: {{drug['count']}} шт.
                                        {% endif %}
                                        <br><br>
                                    </li>
                                {% endif %}
                                {% endfor %}
                            </ul>

                            <hr>
                            <dl class="row">
                                <dt class="col-sm-3" >Сумма: </dt>
                                <dd class="col-sm-9">{{ recipeinfo['rec_price'] }} руб.</dd>
                                <input type="text" name="rec_sum" id="rec_sum"
                                    value="{{ recipeinfo['rec_price'] }}" style="display: none;">
                            </dl>
                            <dl class="row">
                                <dt class="col-sm-3">Статус рецепта: </dt>
                                <dd class="col-sm-9">{{ recipeinfo['rec_status'] }}</dd>
                            </dl>
                    {% if userroleid in [2, 3, 4] and recipeinfo['status_id'] == 1 and drug['drug_id'] not in  [78, 77, 80, 285, 250, 315, 359] %}        
                    <div class="form-group font-weight-bold">
                        Выдан на сумму: <input type="text" name="price" id="price" required> руб.
                    </div>
                    <div class="form-group">    
                        <input type="submit" class="btn btn-primary" value="Отпустить рецепт">
                    </div>
                    {% endif %}

                    {% if userroleid in [3, 4] and recipeinfo['status_id'] == 2 %}        
                    <div class="form-group font-weight-bold">
                        Выдан на сумму: <input type="text" name="price" id="price"> руб.
                    </div>
                    <div class="form-group">    
                        <input type="submit" class="btn btn-primary" value="Исправить цену">
                    </div>
                    {% endif %}
                </form>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        if ($(':input[type="submit"]').val() == 'Отпустить рецепт') {
            $("input[type='text']").keyup(function(){ 
                var $this = $(this);
                val = $this.val();
                $(':input[type="submit"]').prop('disabled', true)
               
                if (parseInt(val) > $('#rec_sum').val()) {
                    $.confirm({
                        icon: 'fa fa-exclamation',
                        theme: 'modern',
                        animation: 'scale',
                        type: 'red',
                        title: 'Превышена сумма',
                        content: 'Введенная сумма превышает сумму рецепта',
                        buttons: {
                            ОК: function () {
                                $(':input[type="submit"]').prop('disabled', true);
                            }
            
                        }
                    });
                }
                
                else {
                    $(':input[type="submit"]').prop('disabled', false)
                }
            });
        }
       
    });
</script>
{% endblock %}
