{% extends 'templt_for_pages.html' %}

{% block title %} Выданные рецепты {% endblock %}

{% block content %}

<style>
    .table-scrollbar{
    position: relative;
    height: 550px;
    overflow: auto;
  }

    .page-content {
        width: calc(100% - 17rem);
        margin-left: 17rem;
        transition: all 0.4s;
    }

</style>

<!-- Форма поиска -->
    <div class="page-content p-5" id="content">
        <h2 class="display-4 text-white">Выданные рецепты</h2>
        <div class="separator"></div>
        <div class="bg-white p-5 shadow-sm">
            <form role="form" action="{{ url_for('rel_recipes') }}" method="POST">
                <!--flash-message-->
                    {% for message in get_flashed_messages(with_categories=True) %}
                        <div id="#alert" class="alert alert-{{message[0]}} alert-dismissible w-50 fade show" role="alert">
                            <p>{{ message[1] }}</p>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
					{% endfor %}
				<!--end-->
                <div class="row mb-3">
                    <div class="container-fluid">
                        <div class="table-scrollbar">
                            <table class="table table-bordered table-hover" id="tblData">
                                <thead class="thead text-white text-center text-uppercase">

                                    <tr>
                                        <th>Код</th>
                                        <th>Город</th>
                                        <th>Категория</th>
                                        <th>Пациент</th>
                                        <th>Фармацевт</th>
                                        <th>Дата</th>
                                        {% if userroleid !=8 %}
                                            <th>Сумма</th>
                                        {% endif %}    
                                        <th>Статус</th>
                                    </tr>
                                </thead>
                                {% for recipe in relRecipes %}
                                    <tbody>
                                        <tr class="table-row" data-href="{{ url_for('recipe_info', recID = recipe['id']) }}">
                                            <td>{{ recipe['id'] }}</td>
                                            <td>{{ recipe['city'] }}</td>
                                            <td>{{ recipe['rec_cat'] }}</td>
                                            <td>{{ recipe['pat_sname'] }} {{ recipe['pat_fname'] }} {{ recipe['pat_patr'] }}</td>
                                            <td>{{ recipe['pharm_sname'] }} {{ recipe['pharm_fname'] }} {{ recipe['patr'] }}</td>
                                            <td>{{ recipe['endDate'] }}</td>
                                            {% if userroleid !=8 %}
                                                <td>{{ recipe['price'] }}</td>
                                            {% endif %}    
                                            <td>{{ recipe['rec_stat'] }}</td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- JS скрипт для ссылок в таблице -->
        <script>
            $(document).ready(function($){
                $(".table-row").click(function(){
                    window.document.location = $(this).data("href");
                });
            });
        </script>
        <!-- end -->

        <script>
            function exportTableToExcel(tableID, filename = ''){
                var downloadLink;
                var dataType = 'application/vnd.ms-excel';
                var tableSelect = document.getElementById(tableID);
                var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

                // Specify file name
                filename = filename?filename+'.xls':'excel_data.xls';

                // Create download link element
                downloadLink = document.createElement("a");

                document.body.appendChild(downloadLink);

                if(navigator.msSaveOrOpenBlob){
                    var blob = new Blob(['\ufeff', tableHTML], {
                        type: dataType
                    });
                    navigator.msSaveOrOpenBlob( blob, filename);
                }else{
                    // Create a link to the file
                    downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

                    // Setting the file name
                    downloadLink.download = filename;

                    //triggering the function
                    downloadLink.click();
                }
            }
        </script>

{% endblock %}