{% extends 'templt_for_pages.html' %}

{% block title %} Выписать рецепт {% endblock %}

{% block content %}
<style>
    input[type=checkbox] {
    transform: scale(2);
    }

    td input[name=chck] {
        width: 20px;
        height: 20px;
        margin: 10px;
    }


    .page-content {
        width: calc(100% - 17rem);
        margin-left: 17rem;
        transition: all 0.4s;
    }

    td {
        width: 500px;
        height: 150px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    td input[name=qnty] {
        width: 55px;
        height: 55px;
        text-align: center;
    }

    .table-wrapper-scroll-y{
        display: block;
    }

  .table-scrollbar{
        position: relative;
        height: 500px;
        overflow: auto;
    }
</style>


<!--Форма Выписать рецепт-->
<div class="page-content p-5" id="content">
    <h2 class="display-4 text-white">Выписать рецепт</h2>
    <div class="separator"></div>
    <div class="row">
        <div class="container w-100">
            <div class="bg-white rounded-sm shadow-sm p-5">
                    <!-- flash сообщения -->
                        {% for message in get_flashed_messages(with_categories=True) %}
                            <div id="#alert" class="alert alert-{{ message[0] }} alert-dismissible w-50 fade show" role="alert">
                                <p>{{ message[1] }}</p>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
						{% endfor %}
                    <!-- end -->
                    <form role="form" action="{{ url_for('add', pat_id=patient['id']) }}" method="POST">
                        <div class="form-group">
                            <dl class="row">
                                <dt class="col-sm-3">ФИО пациента</dt>
                                <dd class="col-sm-9">{{ patient['fio'] }}</dd>
                            </dl>
                        </div>
                        <div class="form-group">
                            <label for="diagnos" class="font-weight-bold">Диагноз</label>
                            <div class="data-select"></div>
                            <select name="diagnoslist" id="diagnos"
                            class="form-control" data-width="auto form-control">
                                <option value="">Выберите</option>
                                {% for diagnos in diagnosList %}
                                    <option value="{{ diagnos['id'] }}">{{ diagnos['diagnos'] }}</option>
                                {% endfor %}
                            </select>
                        </div> <hr>
                        <div class="form-group">
                            <label for="recCat" class="font-weight-bold">Категория рецепта</label>
                            <div class="data-select">
                                <select name="recCatlist" id="recCat" onChange="Selected(this)"
                                    class="form-control" data-width="auto">
                                    <option value="">Выберите</option>
                                    {% for cat in recCat %}
                                        <option value="{{ cat['rec_id'] }}">{{ cat['rec_cat'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div> <hr>
                        <div class="form-group" id="drugsCat" style="display:none;">
                            <label for="drugCat" class="font-weight-bold">Категория препаратов</label>
                            <div class="data-select">
                                <select name="drugCat" id="drugCat" onChange="Selected2(this)"
                                    class="form-control" data-width="auto">
                                    <option value="">Выберите</option>
                                    {% for cat in drugCat %}
                                        <option value="{{ cat['id'] }}">{{ cat['drug_cat'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div> <hr>

                    <!--Наборы-->
                        <!--Набор хирургия малая-->
                        <div id="NaborHM" class="form-group" style="display: none;">
                            <table class="table table-bordered table-hover">
                                <thead class="thead text-white text-uppercase">
                                    <tr>
                                        <th>Выбрать</th>
                                        <th>НАБОР</th>
                                        <th>Количество</th>
                                        <th>Цена</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" name="chck" value="359" /></td>
                                        <td>Малый хирургический</td>
                                        <td><input type="text" name="qnty" value="0" class="w-25"></td>
                                        <td>3500руб.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Набор Нормальные роды-->
                        <div id="NaborNR" class="form-group" style="display: none;">
                            <table class="table table-bordered table-hover">
                                <thead class="thead text-white text-uppercase">
                                    <tr>
                                        <th>Выбрать</th>
                                        <th>Набор</th>
                                        <th>Количество</th>
                                        <th>Цена</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" name="chck" value="80" /></td>
                                        <td>Нормальные роды</td>
                                        <td><input type="text" name="qnty" value="0" class="w-25"></td>
                                        <td>5240руб.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Набор кес.сечение-->
                        <div id="NaborKS" class="form-group" style="display: none;">
                            <table class="table table-bordered table-hover">
                                <thead class="thead text-white text-uppercase">
                                    <tr>
                                        <th>Выбрать</th>
                                        <th>Набор</th>
                                        <th>Количество</th>
                                        <th>Цена</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" name="chck" value="315" /></td>
                                        <td>Кесарево сечение</td>
                                        <td><input type="text" name="qnty" value="0" class="w-25"></td>
                                        <td>8860руб.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Набор хирургия большая-->
                        <div id="NaborHB" class="form-group" style="display: none;">
                            <table class="table table-bordered table-hover">
                                <thead class="thead text-white text-uppercase">
                                    <tr>
                                        <th>Выбрать</th>
                                        <th>Набор</th>
                                        <th>Количество</th>
                                        <th>Цена</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" name="chck" value="285" /></td>
                                        <td>Взрослый хирургический</td>
                                        <td><input type="text" name="qnty" value="0" class="w-25"></td>
                                        <td>11000руб.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--Набор хирургия детская-->
                        <div id="NaborHD" class="form-group" style="display: none;">
                            <table class="table table-bordered table-hover">
                                <thead class="thead text-white text-uppercase">
                                    <tr>
                                        <th>Выбрать</th>
                                        <th>Набор</th>
                                        <th>Количество</th>
                                        <th>Цена</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" name="chck" value="250" /></td>
                                        <td>Детский хирургический</td>
                                        <td><input type="text" name="qnty" value="0" class="w-25"></td>
                                        <td>11000руб.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    <!--end-->


                    <!--Препараты-->
                        <div id="1" class="table-wrapper-scroll-y table-scrollbar">
                            <table id="test" class="table table-bordered table-hover">
                                <thead class="thead text-white text-uppercase">
                                    <tr>
                                        <th>Выбрать</th>
                                        <th>О препарате</th>
                                        <th>Количество</th>
                                        <th>Цена</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for drug in selectDrugList %}
                                    <tr id="row">
                                        <td><input type="checkbox" name="chck" value="{{drug['drug_id']}}" /></td>
                                        <td>{{drug['drugname']}}<br> {{drug['ingridient']}}<br> {{drug['country']}}<br>
                                            {{ drug['manufacturer'] }}<br></td>
                                        <td id="count">
                                           <input type="text" name="qnty" id="qnty" value="0" class="">
                                        </td>
                                        <td id="pric">{{drug['price']}}руб.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        
                    <!--end-->
                        Сумма: <input type="text" name="price" id="price" class="font-weight-bold" readonly> руб. <br><br>
                        <div class="form-group">
                            <input type="submit" value="Выписать рецепт" class="btn btn-primary">
                            <!--<input type="submit" value="Отмена" class="btn btn-primary">-->
                        </div>
                    </form>
                </div>
                <!-- end -->
        </div>
    </div>
</div>
<!--end-->


<script>
    $(document).ready(function () {
    // make sure labels are drawn in the correct state
        $('label').each(function () {
            if ($(this).find(':checkbox').attr('checked')) $(this).addClass('selected');
        });

        // toggle label css when checkbox is clicked
        $(':checkbox').click(function (e) {
            var checked = $(this).attr('checked');
            $(this).closest('label').toggleClass('selected', checked);
        });
    });
</script>


<script>
    function Selected(recCat) {
        var rec = recCat.value;
        if (rec == 10) {
            document.getElementById("NaborHM").style.display='block';
            document.getElementById("NaborNR").style.display='none';
            document.getElementById("NaborKS").style.display='none';
            document.getElementById("NaborHB").style.display='none';
            document.getElementById("NaborHD").style.display='none';
            document.getElementById("drugsCat").style.display='none';
        }
        else if (rec == 3) {
            document.getElementById("NaborNR").style.display='block';
            document.getElementById("NaborHM").style.display='none';
            document.getElementById("NaborKS").style.display='none';
            document.getElementById("NaborHB").style.display='none';
            document.getElementById("NaborHD").style.display='none';
            document.getElementById("drugsCat").style.display='none';
        }
        else if (rec == 4) {
            document.getElementById("NaborKS").style.display='block';
            document.getElementById("NaborNR").style.display='none';
            document.getElementById("NaborHM").style.display='none';
            document.getElementById("NaborHB").style.display='none';
            document.getElementById("NaborHD").style.display='none';
            document.getElementById("drugsCat").style.display='none';
        }
        else if (rec == 5) {
            document.getElementById("NaborHB").style.display='block';
            document.getElementById("NaborKS").style.display='none';
            document.getElementById("NaborNR").style.display='none';
            document.getElementById("NaborHM").style.display='none';
            document.getElementById("NaborHD").style.display='none';
            document.getElementById("drugsCat").style.display='none';
        }
        else if (rec == 7) {
            document.getElementById("NaborHD").style.display='block';
            document.getElementById("NaborNR").style.display='none';
            document.getElementById("NaborHM").style.display='none';
            document.getElementById("NaborHB").style.display='none';
            document.getElementById("NaborKS").style.display='none';
            document.getElementById("drugsCat").style.display='none';
        }
        else {
            document.getElementById("drugsCat").style.display='block';
            document.getElementById("NaborNR").style.display='none';
            document.getElementById("NaborHM").style.display='none';
            document.getElementById("NaborHB").style.display='none';
            document.getElementById("NaborKS").style.display='none';
            document.getElementById("NaborHD").style.display='none';

        }
    }
</script>

<script>
     function Selected2(drugCat) {
        var drug = drugCat.value;
        
        if (drug == 5) {

            $.confirm({
                icon: 'fa fa-exclamation-triangle',
                theme: 'modern',
                animation: 'scale',
                type: 'red',
                title: 'Антибактериальные средства',
                content: 'Вы уверены в целесообразности назначения?',
                buttons: {
                    Да: function () {
                        document.getElementById("5").style.display='block';
                        $('input:checkbox'). prop('disabled', false);
                    },
                    Нет: function () {
                        $('input:checkbox'). prop('disabled', true);

                    }
                }

            });
        }
        else {
            document.getElementById("5").style.display='none';
            $('input:checkbox'). prop('disabled', false);
        }
        
     }
</script>

<!--Автоматический счетчик цены при выборе препаратов-->
<!--Фиксирует сумму в текстовом поле id=price-->
<script>

$(document).ready(function() {
    $(':input[type="submit"]').prop('disabled', true);
    var inputs = document.getElementsByTagName("input");
    for(var i = 0; i < inputs.length; i++) {
        var el = inputs[i];
        while(el = el.parentNode) {
            if(el.nodeName.toLowerCase() === 'tr') {
                inputs[i].onfocus = function() {
                    this.parentRow.style.backgroundColor = '#F55F7C';
                    this.parentRow.style.color = 'white';
                };
                inputs[i].onblur = function() {
                    this.parentRow.style.backgroundColor = '';
                    this.parentRow.style.color = 'black';
                };
                inputs[i].parentRow = el;
                break;
        }
    }
}


    function calculateSum(){
        var total=0;
        $('table tbody tr').each(function() {
            var tr = $(this);

            if (tr.find('input[name="chck"]').is(':checked')) {
                var columns = tr.find('td').next('td').next('td');
                var quantity=parseInt(tr.find('input[type="text"]').val());
                var cost=parseInt(columns.next('td').html().split('руб.')[0]);
                total+=cost*quantity;
            }
        });

        $('#price').val(total.toFixed(0));

        if($("#recCat option:selected").val() == 6 && $('#price').val() > 1500) {
            $.confirm({
                icon: 'fa fa-exclamation',
                theme: 'modern',
                animation: 'scale',
                type: 'red',
                title: 'Превышен лимит',
                content: 'Превышен лимит в 1500 рублей на ребенка',
                buttons: {
                    ОК: function () {
                        $(':input[type="submit"]').prop('disabled', true);
                    }

                }

            });
        }

        else if( $("#recCat option:selected").val() == 1 && $('#price').val() > 1850) {
            $.confirm({
                icon: 'fa fa-exclamation',
                theme: 'modern',
                animation: 'scale',
                type: 'red',
                title: 'Превышен лимит',
                content: 'Превышен лимит в 1850 рублей на беременных.',
                buttons: {
                    ОК: function () {
                        $(':input[type="submit"]').prop('disabled', true);
                    }

                }

            });
        }

        else if($("#recCat option:selected").val() == 2 && $('#price').val() > 1850) {
            $.confirm({
                icon: 'fa fa-exclamation',
                theme: 'modern',
                animation: 'scale',
                type: 'red',
                title: 'Превышен лимит',
                content: 'Превышен лимит в 1850 рублей на кормящих.',
                buttons: {
                    ОК: function () {
                        $(':input[type="submit"]').prop('disabled', true);
                    }

                }

            });
        }

        else if ($('#price').val() == 0 || $('#price').val() == 'NaN') {
            $(':input[type="submit"]').prop('disabled', true);
        }

        else {
            $(':input[type="submit"]').prop('disabled', false);
        }

    }

    $("input[type='text']").keyup(function() {
        calculateSum();
    });

    $("input[name='chck']").change(function() {
        calculateSum();
    });

});
</script>
<!--end-->


<script>
    $(document).ready(function() {
        $('.selectpicker').selectpicker();
    });
</script>



{% endblock %}
